<!--hellow1-->
{{! hellow2}}
{{#each list}}
    {{#if ../query}}
        ({{../../query.name}})
    {{/if}}
{{/each}}


<ul>
    {{#each list}}
        <li>{{name}} is my {{relation}}</li>
    {{/each}}

</ul>

{{#unless arr}}

{{else}}
    <p>my name is {{query.name}},{{query.sex}}</p>
{{/unless}}


{{#if string}}
    <a href="{{string}}">about me</a>
    {{#each arr}}
        {{.}},
    {{/each}}
{{else}}

{{/if}}
}}